# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# idea file
.idea
*.iml
out
gen
### Gradle template
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

/src/main/java/JavaC0/
/src/main/java/JavaC0/analyser
/src/main/java/JavaC0/error
/src/main/java/JavaC0/instruction
/src/main/java/JavaC0/tokenizer
/src/main/java/JavaC0/util
/src/main/java/JavaC0/vm
